:root{
    --clock-w : 120px;
    --clock-h : 120px;
}

.clock{
    position: absolute;
    width: var(--clock-w);
    height: var(--clock-h);
    top: 20%;
    left: 30%; 
    background-color:blue;
}

.hand{
    position: absolute;
    top: 45%;
    height: 6px;
    width: 45%;
    transform-origin: 100%;
    background-color: black;
    transition: all 0.05;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.second{
    background-color:brown;
    
}

.hand.minute{
    background-color: red;
    
}

.hand.hour{
    background-color: yellow;
    
}


